@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>

    @Styles.Render("~/jquery.mobile.css")
    @Styles.Render("~/layout.css")
    @Scripts.Render("~/bundles/jquery.full")
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title> @ViewBag.Title </title>
</head>
<body>

<div class='json-overlay'></div>

    

<div data-role="page">
    <div data-role="header">
        <a onclick="panel()" data-icon="grid">Меню</a>
        <h1> @ViewBag.Title </h1>
        <a id="save" onclick="saveDone()" href="#" data-icon="check">Сохр</a>
    </div>

    @RenderBody()

    <div data-role="panel" id="mypanel" data-position="left" data-display="overlay">
        <ul data-role="listview">
            <li data-role="list-divider"> # </li>
            <li><a href="#" onclick="redirect('/Home/Index')">Главная</a></li>

            <li data-role="list-divider"> # Расходы </li>
            <li><a href="audi.html">Няня Аня</a></li>
            <li><a href="audi.html">Няня Оксана</a></li>
            <li><a href="audi.html">Юля</a></li>

            <li data-role="list-divider"> # План </li>
            <li><a href="audi.html">11.04 - 11.05</a></li>
            <li><a href="audi.html">Старые планы</a></li>

            <li data-role="list-divider"> --- </li>
            <li><a href="#" onclick="redirect('/Settings/Index')">Настройки</a></li>

        </ul>
    </div>

    <div data-role="footer">
        <a onclick="panel()" data-icon="grid">Меню</a>
    </div>

</div>

</body>
</html>

@Scripts.Render("~/layout.js")
@Scripts.Render("~/animate.js")