@using System.Web.Optimization
@using SimpleBookKeeping.Helpers
@{
    var planCosts = MenuHelper.GetPlanCosts();
}
<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="/Content/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/site/layout.css">
    <link rel="stylesheet" type="text/css" href="/Content/site/common.css">

    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/jquery.mobile-1.4.5.js"></script>
    <script src="/Scripts/jquery.validate.js"></script> 

    @*@Styles.Render("~/Content/site/common")
    @Styles.Render("~/Content/jquery.mobile")
    @Styles.Render("~/Content/site/layout")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/jquery.mobile")
    @Scripts.Render("~/Scripts/jquery.validate")*@

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title> @ViewBag.Title </title>
</head>
<body>

<div class='wait-overlay'></div>


<div data-role="page">
    <div data-role="header">
        <a onclick="panel()" data-icon="bars">Меню</a>
        <h1> @ViewBag.Title </h1>
        <a id="logout" onclick="logOut()" href="#" data-icon="power">Выйти</a>
    </div>

    <div class="content">
        @RenderBody()    
    </div>
    
    <div data-role="panel" id="mypanel" data-position="left" data-display="overlay">
        <ul data-role="listview">
            <li data-role="list-divider"> # </li>
            <li><a href="#" onclick="redirect('/Home/Index')">Главная</a></li>

            <li data-role="list-divider"> # Расходы </li>

            @foreach (var planCostsModel in planCosts)
            {
                <li data-role="list-divider"> ## @planCostsModel.Name </li>

                foreach (var cost in planCostsModel.Costs.OrderBy(x=>x.Name))
                {
                    <li><a href="#" onclick="redirect('/Spend/Index?costId=@cost.Id')"> @cost.Name </a></li>
                }
            }

            <li data-role="list-divider"> --- </li>
            <li><a href="#" onclick="redirect('/Settings/Index')">Настройки</a></li>

        </ul>
    </div>

    <div data-role="footer">
        <a id="goBack" onclick="doBack()" data-icon="back">Назад</a>
        <a href="#" data-icon="user">
           @(HttpContext.Current?.User?.Identity.Name)
        </a>
    </div>

</div>

</body>
</html>

<script src="/Scripts/Site/layout.js"></script>
<script src="/Scripts/Site/animate.js"></script>
<script src="/Scripts/Site/msgBox.js"></script>
<script src="/Scripts/Site/inpBox.js"></script>

@*@Scripts.Render("~/Scripts/Site/layout")
@Scripts.Render("~/Scripts/Site/animate")
@Scripts.Render("~/Scripts/Site/msgBox")*@

