@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>

    @Styles.Render("~/Css/jquery.mobile")
    @Styles.Render("~/Css/Layout")
    @Scripts.Render("~/bundles/jquery.full")
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title> @ViewBag.Title </title>
</head>
<body>

<div class='json-overlay'></div>

<div data-role="page">
    <div data-role="panel" id="mypanel" data-position="left" data-display="push">
        <ul data-role="listview">
            <li data-role="list-divider"> # </li>
            <li><a href="#" onclick="Redirect('/Settings/Index')" >Главная</a></li>
            <li data-role="list-divider"> # Типы расходов </li>
            <li><a href="audi.html">Няня Аня</a></li>
            <li><a href="audi.html">Няня Оксана</a></li>

            <li data-role="list-divider"> # Движения </li>
            <li data-role="list-divider"> ## Старые </li>
            <li><a href="audi.html">Просмотреть</a></li>

            <li data-role="list-divider"> ## Активное </li>
            <li><a href="audi.html">Просмотреть</a></li>

            <li data-role="list-divider"> --- </li>
            <li><a href="#" onclick="Redirect('/Settings/Index')">Настройки</a></li>

        </ul>
    </div>

    <div data-role="header">
        <a onclick="Panel()" data-icon="grid">Меню</a>
        <h1> @ViewBag.Title </h1>
        <a id="save" onclick="SaveDone()" href="#" data-icon="check">Сохр</a>
    </div>

    @RenderBody()

</div>

</body>
</html>

<script type="text/javascript">

    var SaveFunction;

    function Panel() {
        $("#mypanel").panel("open");
        ShowSaveButton();
    }

    function ShowSaveButton() {
        $("#save").fadeIn(1000);
    }

    function SaveDone() {
        ShowLoading();

        if (typeof SaveFunction != "undefined") {
            SaveFunction();
        }

        $("#save").fadeOut(1000);
    }

    function ShowLoading() {
        $(".json-overlay").fadeIn(1000);
    }

    function Redirect(url) {
        $("#mypanel").panel("close");
        ShowLoading();

        window.setTimeout(function() {
            window.location = url;
        }, 1500);
    }

</script>