@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-page">
    <div class="timer-fadein bs-callout bs-callout-danger">
        <h4> @Model.ControllerName . @Model.ActionName </h4>
        <p>
            @Model.Exception.GetType().Name => @Model.Exception.Message
            <br/><br/>
            StackTrace: @Model.Exception.StackTrace
        </p>
    </div>
</div>