@using System.Web.Optimization
@model SimpleBookKeeping.Models.PlanModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/jqm.datebox.css")
@Styles.Render("~/plan.css")

<div class="create-plan">

    <h3> Создание плана </h3>

    <form action="/Plan/Save" method="POST" data-ajax="false">

        <input name="id" value="@Model.Id" type="hidden"/>

        <input name="start" placeholder="Дата начала" type="date" value="@(Model.Start == DateTime.MinValue ? "" : Model.Start.ToString("dd-MM-yyyy"))"
               data-role="datebox" data-options='{"mode": "datebox", "overrideDateFormat": "%d-%m-%Y"}'/>
        @Html.ValidationMessageFor(model => model.Start)

        <input name="end" placeholder="Дата завершения" type="date" value="@(Model.End == DateTime.MinValue ? "" : Model.End.ToString("dd-MM-yyyy"))"
               data-role="datebox" data-options='{"mode": "datebox", "overrideDateFormat": "%d-%m-%Y"}'/>
        @Html.ValidationMessageFor(model => model.End)

        <input name="name" type="text" value="@Model.Name" placeholder="Наименование"/>
        @Html.ValidationMessageFor(model => model.Name)

        <input name="balance" type="text" value="@Model.Balance" placeholder="Баланс"/>
        @Html.ValidationMessageFor(model => model.Balance)

        <input class="margin10" type="submit" value="@(Model.Id == Guid.Empty ? "Создать" : "Применить")"/>

    </form>

    <a data-role="button" class="margin10" onclick="redirect('/Cost/Index?planId=@Model.Id')">Управление расходами</a>

</div>

<script type="text/javascript">
    backUrl = "/Plan/Index"
</script>

@Scripts.Render("~/jqm.datebox.js")