@using System.Web.Optimization
@model  IList<SimpleBookKeeping.Database.Entities.Plan>
@{
    ViewBag.Title = "Планы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/plan.css")

<div class="paln-list">
    <ul class="margin10 custom-list" data-role="listview" data-inset="true">
        <li data-role="list-divider"> Планы: </li>

        @foreach (var plan in Model)
        {
            <li><a href="#" onclick="redirect('/Plan/View?id=@plan.Id')">
                    <b>@plan.Name</b> : @plan.Start.ToString("dd.MM") - @plan.End.ToString("dd.MM")
                    <span class="ui-li-count ui-body-inherit">@plan.Balance</span>
                </a>
            </li>
        }

    </ul>
</div>

<a data-role="button" class="margin10" data-icon="check" onclick="redirect('/Plan/Create')">Создать новый</a>

<script type="text/javascript">
    backUrl = "/Settings/Index"
</script>