@using System.Globalization
@using System.Web.Optimization
@using SimpleBookKeeping.Models
@model PlanModel
@{
    ViewBag.Title = "План";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/site/plan")
@Styles.Render("~/Content/jquery.mobile.datepicker")

<div class="create-plan">

    <h3> Создание плана </h3>

    <form id="plan-save" action="/Plan/Save" method="POST" data-ajax="false">

        <input name="id" value="@Model.Id" type="hidden"/>

        <input name="start" class="datepicker" placeholder="Дата начала" data-role="date"
               value="@(Model.Start == DateTime.MinValue ? "" : Model.Start.ToString("MM/dd/yyyy",new CultureInfo("en-US")))" />

        @Html.ValidationMessageFor(model => model.Start)

        <input name="end" class="datepicker" placeholder="Дата завершения" data-role="date"
               value="@(Model.End == DateTime.MinValue ? "" : Model.End.ToString("MM/dd/yyyy",new CultureInfo("en-US")))" />

        @Html.ValidationMessageFor(model => model.End)

        <input name="name" type="text" value="@Model.Name" placeholder="Наименование"/>
        @Html.ValidationMessageFor(model => model.Name)

        <input name="balance" type="text" value="@Model.Balance" placeholder="Баланс"/>
        @Html.ValidationMessageFor(model => model.Balance)

        <div class="margin10">
            <label for="members" class="select">Участвующие:</label>
            <select id="members" multiple="multiple" data-native-menu="false">
                @foreach (UserModel user in ViewBag.Users)
                {
                    <option value="@user.Id"
                            @(Model.UserMembers.Any(x => x == user.Id) ? "selected='selected'" : string.Empty)>
                        @user.Name
                    </option>
                }

            </select>
            <div id="members-input-item">
                @for (int i = 0; i < Model.UserMembers.Count; i++)
                {
                    <input type='hidden' name='UserMembers[@i]' value='@Model.UserMembers[i]'/>
                }
            </div>
        </div>

        <input class="margin10" data-icon="check" type="submit" value="@(Model.Id == Guid.Empty ? "Создать" : "Применить")"/>
        
    </form>
    @if (Model.Id != Guid.Empty)
    {
        <a data-role="button" class="margin10" data-icon="shop" onclick="redirect('/Cost/Index?planId=@Model.Id')">Управление расходами</a>
        <a data-role="button" class="margin10" data-icon="delete" data-theme = "b" onclick="Remove()">Удалить</a>
    }

</div>



<script type="text/javascript">
    backUrl = "/Plan/Index";

    function Remove() {

        $("body").msgBox({
            caption: "Удалить ?",
            head: "Удалить план",
            body: "Вы действительно хотите удалить план: @Model.Name",
            onSecondButton: function() {
                alert("Allah akbar!");
            }
        });
    }

    $(document).ready(function () {

        $(".datepicker").datepicker("option", "dateFormat", "dd.mm.yy");
        $("#ui-datepicker-div").hide();

        $("#members-listbox .ui-icon-delete").click(function () {
            var inputs = "";

            var item = 0;
            $("#members :selected").each(function () {
                var userId = $(this).attr("value");
                inputs += "<input type='hidden' name='UserMembers[" + item + "]' value='" + userId + "'/>";
                item++;
            });

            $("#members-input-item").html(inputs);
        });

    
        saveFunc = function () {
            $("#plan-save").submit();
        }
        showSaveButton();
    });

</script>

@Scripts.Render("~/Scripts/datepicker")