@using System.Web.Optimization
@using SimpleBookKeeping.Models
@model SimpleBookKeeping.Models.PlanModel
@{
    ViewBag.Title = "План";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/jqm.datebox.css")
@Styles.Render("~/plan.css")

<div class="create-plan">

    <h3> Создание плана </h3>

    <form id="plan-save" action="/Plan/Save" method="POST" data-ajax="false">

        <input name="id" value="@Model.Id" type="hidden"/>

        <input name="start" placeholder="Дата начала" type="date"
               value="@(Model.Start == DateTime.MinValue ? "" : Model.Start.ToString("yyyy-MM-dd"))" data-role="date"/>

        @Html.ValidationMessageFor(model => model.Start)

        <input name="end" placeholder="Дата завершения" type="date"
               value="@(Model.End == DateTime.MinValue ? "" : Model.End.ToString("yyyy-MM-dd"))"
               data-role="datebox" data-options='{"mode": "datebox", "overrideDateFormat": "%d-%m-%Y"}'/>

        @Html.ValidationMessageFor(model => model.End)

        <input name="name" type="text" value="@Model.Name" placeholder="Наименование"/>
        @Html.ValidationMessageFor(model => model.Name)

        <input name="balance" type="text" value="@Model.Balance" placeholder="Баланс"/>
        @Html.ValidationMessageFor(model => model.Balance)

        <div class="margin10">
            <label for="members" class="select">Участвующие:</label>
            <select id="members" multiple="multiple" data-native-menu="false">
                @foreach (UserModel user in ViewBag.Users)
                {
                    <option value="@user.Id"
                            @(Model.UserMembers.Any(x => x == user.Id) ? "selected='selected'" : string.Empty)>
                        @user.Name
                    </option>
                }

            </select>
            <div id="members-input-item">
                
            </div>
        </div>

        <input class="margin10" data-icon="check" type="submit" value="@(Model.Id == Guid.Empty ? "Создать" : "Применить")"/>
        
    </form>
    @if (Model.Id != Guid.Empty)
    {
        <a data-role="button" class="margin10" data-icon="shop" onclick="redirect('/Cost/Index?planId=@Model.Id')">Управление расходами</a>
        <a data-role="button" class="margin10" data-icon="delete" data-theme = "b" onclick="Remove()">Удалить</a>
    }

    
</div>

<script type="text/javascript">
    backUrl = "/Plan/Index";

    function Remove() {
        if (confirm("Вы действительно хотите удалить план: @Model.Name")) {
            redirect('/Plan/Remove?id=@Model.Id');
        }
    }

    $(document).ready(function () {

        $("#members-listbox .ui-icon-delete").click(function () {
            var inputs = "";

            var item = 0;
            $("#members :selected").each(function () {
                var userId = $(this).attr("value");
                inputs += "<input type='hidden' name='UserMembers[" + item + "]' value='" + userId + "'/>";
                item++;
            });

            $("#members-input-item").html(inputs);
        });

        var today = "@(Model.Start == DateTime.MinValue ? "" : Model.Start.ToString("yyyy-MM-dd"))";
        $('[name=start]').val(today);

        $('[name=start]').datepicker({ dateFormat: 'dd-mm-yyyy' });

        //$("[name=start]").formatDate("DD, MM d, yy", new Date(2007, 7 - 1, 14), {
        //    dayNamesShort: $.datepicker.regional["fr"].dayNamesShort,
        //    dayNames: $.datepicker.regional["fr"].dayNames,
        //    monthNamesShort: $.datepicker.regional["fr"].monthNamesShort,
        //    monthNames: $.datepicker.regional["fr"].monthNames
        //});

        saveFunc = function () {
            $("#plan-save").submit();
        }
        showSaveButton();
    });

</script>

@Scripts.Render("~/jqm.datebox.js")