@using System.Web.Optimization
@using SimpleBookKeeping.Models
@model IList<CostSpendDetailModel>
@{
    IList<CostSpendDetailModel> costSpends = Model;
    ViewBag.Title = "Траты";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool fisrt = true;
    var currentDate = DateTime.Now.Date;
}

@Styles.Render("~/spend.css")

<h3> @costSpends.First().CostName </h3>

<div class="spend-row" data-role="collapsible-set">

    @foreach (var spendModel in costSpends.OrderByDescending(x=>x.Date))
    {
        bool editable = spendModel.Date > currentDate.Date.AddDays(-2) && spendModel.Date <= currentDate.Date;

        <div class='@(editable ? "editable" : string.Empty) spend-row-detail'
             data-collapsed-icon="carat-r" data-expanded-icon="carat-d" data-role='collapsible' @(fisrt ? Html.Raw("data-collapsed='false'") : Html.Raw(""))>
            
            <h3>
                @spendModel.Date.ToString("dd.MM.yyyy") <span class="ui-li-count ui-body-inherit">@spendModel.Spends.Sum(x => x.Value)</span>
            </h3>
            <p>
                <ul id="@spendModel.DetailId" class="@(editable ? "editable" : string.Empty) custom-list" data-role="listview" data-inset="true">
                    @foreach (var spend in spendModel.Spends)
                    {

                        <li>
                            @(editable ?
                                  Html.Raw($"<input id='{spend.Id}' name='comment' class='comment' type='text' value='{spend.Comment}'/>") :
                                  Html.Raw(spend.Comment ?? " "))

                            @(editable ?
                                  Html.Raw($"<input id='{spend.Id}' name='value' class='sum' type='text' value='{spend.Value}'/>") :
                                  Html.Raw($"<span class='ui-li-count' ui-body-inherit'>{spend.Value}</span> "))
                        </li>

                    }

                    <li>
                        <input class='comment' type='text' value='' placeholder="Коментарий"/>
                        <input class='sum' type='text' value='' placeholder="Сумма"/>
                    </li>

                    <li id="add-button" data-icon="plus" class="add-spend">
                        <div onclick="Add('@spendModel.DetailId')" class="ui-btn ui-input-btn ui-shadow"> Добавить </div>
                    </li>

                </ul>

                @if (editable)
                {
                    <a data-role="button" class="margin10" data-icon="check" onclick="save('')">Сохранить</a>
                }
            </p>
        </div>

        fisrt = false;
    }

</div>


<div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="a" style="max-width: 400px;"
     class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
    <form id="add-spend" action="/Spend/Add" method="POST" data-ajax="false">
        <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
            <h1 class="ui-title" role="heading" aria-level="1">Траты</h1>
        </div>
        <div role="main" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">Добавить траты</h3>

            <input type="hidden" name="CostId" value="@costSpends.First().CostId" />
            <input id="detailId" type="hidden" name="CostDetailId" value="" />
            <input class='comment' name="Comment" type='text' value='' placeholder="Коментарий" />
            <input class='sum' name="Value" type='text' value='' placeholder="Сумма" />

            <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="a"
               class="ui-link ui-btn ui-btn-a ui-btn-inline ui-shadow ui-corner-all" role="button">Отменить</a>
            <a href="#" onclick="Submit()" data-role="button" data-inline="true"  data-transition="flow"
               data-theme="b" class="ui-link ui-btn ui-btn-b ui-btn-inline ui-shadow ui-corner-all" role="button">Добавить</a>
        </div>
    </form>
</div>


<script type="text/javascript">
    var selectedCostDetail;

    function Add(id) {
        $("#detailId").val(id);
        $("#popupDialog").popup();
        $("#popupDialog").popup("open", {
            transition: "pop",
            positionTo: "window"
        });
    }

    function Submit() {
        $("#add-spend").submit();
    }

</script>