@using System.Web.Optimization
@model SimpleBookKeeping.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    @Styles.Render("~/Content/site/common")
    @Styles.Render("~/Content/site/login")
    @Styles.Render("~/Content/jquery.mobile")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/jquery.validate")
    @Scripts.Render("~/Scripts/jquery.mobile")

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title> Login page </title>
</head>
<body>
    <div data-role="header">
        <h1> SimpleBookKeeping </h1>
    </div>

    <div class="title">
        <p> For enter to the simple smart bookkeeping system, you mast enter the login and password. <br /> Have a nice day. </p>
    </div>

    <form action="/Login/Authorize" method="POST" data-ajax="false">
        <div class="login-block">
            <div class="login">
                <input name="login" type="text" value="@(Model?.Login)" placeholder="Login"/>
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="password">
                <input name="password" type="password" placeholder="Password"/>
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="result message-warning">
                <p>@(ViewBag.Error)</p>
            </div>

            <div class="submit">
                <input type="submit" value="Enter" />
            </div>
        </div>
    </form>

</body>
</html>

@Scripts.Render("~/Scripts/site/login")